<div class="d-flex mb-4 justify-content-between text-center align-items-center">
  <h1>Add Category</h1>
  <a href="/category" class="btn btn-secondary">Back</a>
</div>
<form method="post" class="bg-white p-3 rounded">
  <div class="mb-3">
    <label for="inputName" class="form-label font-weight-bold">Name</label>
    <input
      type="text"
      class="form-control"
      id="inputName"
      aria-describedby="textHelp"
      placeholder="Enter name category"
      name="title"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
